<footer class="c-footer">
  <div class="u-container c-footer__container">
    <p>&copy; {{ site.title }} {{ site.time | date: '%Y' }}</p>
    <p>
      {% if site.twitterUsername %}<a href="https://twitter.com/{{ site.twitterUsername }}"><i class="fa fa-twitter fa-lg" aria-hidden="true"></i> Twitter</a>{% endif %}
      {% if site.githubUsername %}<a href="https://github.com/{{ site.githubUsername }}"><i class="fa fa-github fa-lg" aria-hidden="true"></i> Github</a>{% endif %}
    </p>
  </div>
</footer>
