<nav class="c-navigation {% if site.fixedNav == 'true' %}is-fixed{% endif %}">
  <div class="c-navigation__container u-container">
    <a class="c-navigation__item {% if page.url == '/' %}is-active{% endif %}" href="{{ "/" | prepend: site.baseurl }}">About</a>
    <a class="c-navigation__item {% if page.url == '/apps/' %}is-active{% endif %}" href="{{ "/apps/" | prepend: site.baseurl }}">Apps</a>
    <a class="c-navigation__item {% if page.url == '/blog/' %}is-active{% endif %}" href="{{ "/blog/" | prepend: site.baseurl }}">Blog</a>
    <a class="c-navigation__item {% if page.url == '/contact/' %}is-active{% endif %}" href="/contact/">Contact</a>
    <div class="social">
      {% if site.githubUsername %}<a class="c-navigation__item" href="https://github.com/{{ site.githubUsername }}" target="_blank"><i class="fa fa-github fa-lg" aria-hidden="true"></i></a>{% endif %}
      {% if site.instagramUsername %}<a class="c-navigation__item" href="https://www.instagram.com/{{ site.instagramUsername }}" target="_blank"><i class="fa fa-instagram fa-lg" aria-hidden="true"></i></a>{% endif %}
      {% if site.linkedInUsername %}<a class="c-navigation__item" href="https://www.linkedin.com/in/{{ site.linkedInUsername }}" target="_blank"><i class="fa fa-linkedin fa-lg" aria-hidden="true"></i></a>{% endif %}
      {% if site.snapchatUsername %}<a class="c-navigation__item" href="https://www.snapchat.com/add/{{ site.snapchatUsername }}" target="_blank"><i class="fa fa-snapchat fa-lg" aria-hidden="true"></i></a>{% endif %}
      {% if site.twitterUsername %}<a class="c-navigation__item" href="https://twitter.com/{{ site.twitterUsername }}" target="_blank"><i class="fa fa-twitter fa-lg" aria-hidden="true"></i></a>{% endif %}
    </div>
  </div>
</nav>
